.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  .day {
    display: flex;
    margin: 5px 0;
    p {
      margin: 0 2px;
    }
  }
  .time {
    display: flex;
    margin: 5px 0;
    p {
      margin: 0 2px;
    }
  }
}
